@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&family=Open+Sans&family=Ubuntu:ital@1&family=Yeseva+One&display=swap');

*{
    margin: 0;
    padding: 0;
}

nav{
background-color: #2f7eef;
height: 50px;
align-items: center;
display: flex;
padding-left: 2em;
font-size: 20px;
font-family: Yeseva One;
}

.game{ 
    display: flex;
    justify-content: center;
    padding-top: 75px;
}

.container{
    display: grid;
    grid-template-rows: repeat(3, 10vw);
    grid-template-columns: repeat(3, 10vw);
    font-family: 'Roboto', sans-serif;
    position: relative;
}

.box{
    border: 2px solid rgb(5, 5, 5);
    font-size: 8vw;
     display: flex;
    justify-content: center;
    align-items: center;
    color: #2f7eef;
}

#reset {
    margin: 0 23px;
    padding: 1px 18px;
    background: #f3e7f9;
    border-radius: 6px;
    cursor: pointer;
    font-family: Yaseva One;
    font-size: 15px;
    font-weight: bolder;
}

.line{
    background-color: black;
    height: 3px;
    width: 0;
    position: absolute;
    background-color: #911d91;
    transition: width 1s ease-in-out;
}

@media screen and (max-width: 950px)
{
    .gameContainer{
        flex-wrap: wrap;
    }
    .gameInfo{
        margin-top: 60px;
        margin-top: 60px;
    }
    .gameInfo h1{
        font-size: 1.5rem;
    }
    .container { 
        grid-template-rows: repeat(3, 20vw);
        grid-template-columns: repeat(3, 20vw);
    }
}

.box:hover{
    background-color: rgb(242, 234, 250);
}

.info {
    font-size: 22px;
    margin-top: 1.5 rem;
}

.gameInfo{
    padding: 0 34px;
    font-family:  Yaseva One;
    text-align: center;
    padding-right: 150px;
}

.gameInfo h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    padding-top: 50px;
    padding-left: 80px;
}

.imgbox img{
    width: 0;
    transition: width 1s ease-in-out;
}